#  Tweet Classifier

This tweet classifier uses a public tweet training / testing dataset created by Sentiment140

In [176]:
%matplotlib inline
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
from __future__ import division, print_function



#modeling includes
from nltk.corpus import stopwords
import re
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cross_validation import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import roc_auc_score

In [160]:
df = pd.read_csv('data/training.1600000.processed.noemoticon.csv', header=None)
df.columns = ['polarity', 'tweet_id', 'date', 'query', 'user', 'text']

### Some Quick EDA

We're going to take a quick look at our training dataset.

In [161]:
df.polarity.value_counts()

4    800000
0    800000
Name: polarity, dtype: int64

The authors of this dataset noted that positive tweets are labled 4 and negative tweets are labeled 0.  So, we have 800,000 positive tweets, and 800,000 negative tweets.   Lets look at some examples

In [162]:
df[df.polarity == 0].head()

,polarity,tweet_id,date,query,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [163]:
df[df.polarity == 4].head()

,polarity,tweet_id,date,query,user,text
800000,4,1467822272,Mon Apr 06 22:22:45 PDT 2009,NO_QUERY,ersle,I LOVE @Health4UandPets u guys r the best!!
800001,4,1467822273,Mon Apr 06 22:22:45 PDT 2009,NO_QUERY,becca210,im meeting up with one of my besties tonight! ...
800002,4,1467822283,Mon Apr 06 22:22:46 PDT 2009,NO_QUERY,Wingman29,"@DaRealSunisaKim Thanks for the Twitter add, S..."
800003,4,1467822287,Mon Apr 06 22:22:46 PDT 2009,NO_QUERY,katarinka,Being sick can be really cheap when it hurts t...
800004,4,1467822293,Mon Apr 06 22:22:46 PDT 2009,NO_QUERY,_EmilyYoung,@LovesBrooklyn2 he has that effect on everyone

### Model Creation

In [164]:
def create_training_data():
    df = pd.read_csv('data/training.1600000.processed.noemoticon.csv', 
                     names=['polarity', 'tweet_id', 'date', 'query', 'user', 'text'],
                     header=None,
                     encoding='ISO-8859-1')
    df.drop(['tweet_id','date','query','user'], axis=1, inplace=True)
    df.polarity.replace(4,1, inplace=True )
    return df

In [171]:
def create_testing_data():
    df = pd.read_csv('data/testdata.manual.2009.06.14.csv', 
                     names=['polarity', 'tweet_id', 'date', 'query', 'user', 'text'],
                     header=None,
                     encoding='ISO-8859-1')
    df.drop(['tweet_id','date','query','user'], axis=1, inplace=True)
    df.polarity.replace(4,1, inplace=True )
    return df

In [165]:
training_tweets = create_training_data()
y_train = training_tweets.pop('polarity')

In [197]:
testing_tweets = create_testing_data()
neutral_tests = testing_tweets[testing_tweets.polarity == 2]
testing_tweest = testing_tweets[testing_tweets.polarity.isin([0,1])] 
y_test = testing_tweets.pop('polarity')

In [182]:
def clean_tweets(x):
    x = x.lower()  #lowercase everything
    x = re.sub('@[a-z_-]+',"",x) #remove handles
    x = re.sub('[0-9]+',"",x)  #remove numbers
    x = re.sub('(https?):\/\/(www\.)?[a-z0-9\.:].*?(?=\s)', "",x) #remove urls
    x = re.sub('&[a-z]+','',x)  #remove html punctuations &amp, etc...
    return x

training_tweets.text = training_tweets.text.map(clean_tweets)
testing_tweets.text = testing_tweets.text.map(clean_tweets)

In [167]:
stopset = set(stopwords.words('english'))
vectorizer = TfidfVectorizer(use_idf=True, encoding='ISO-8859-1',
                             lowercase=True, strip_accents='ascii', stop_words=stopset,
                            min_df = 3)

In [168]:
X_train = vectorizer.fit_transform(training_tweets.text)

In [199]:
X_test = vectorizer.transform(testing_tweets.text)

In [170]:
#we will train a naive_bayes classifier
clf = MultinomialNB()
clf.fit(X_train, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [200]:
roc_auc_score(y_test, clf.predict_proba(X_test)[:,1])

ValueError: multiclass format is not supported

In [202]:
testing_tweets

                                                  text
0    @stellargirl I loooooooovvvvvveee my Kindle2. ...
1    Reading my kindle2...  Love it... Lee childs i...
2    Ok, first assesment of the #kindle2 ...it fuck...
3    @kenburbary You'll love your Kindle2. I've had...
4    @mikefish  Fair enough. But i have the Kindle2...
5    @richardebaker no. it is too big. I'm quite ha...
6    Fuck this economy. I hate aig and their non lo...
7                        Jquery is my new best friend.
8                                        Loves twitter
9    how can you not love Obama? he makes jokes abo...
10   Check this video out -- President Obama at the...
11   @Karoli I firmly believe that Obama/Pelosi hav...
12   House Correspondents dinner was last night who...
13   Watchin Espn..Jus seen this new Nike Commerica...
14   dear nike, stop with the flywire. that shit is...
15   #lebron best athlete of our generation, if not...
16   I was talking to this guy last night and he wa...
17                  i love lebron. http://bit.ly/PdHur
18   @ludajuice Lebron is a Beast, but I'm still ch...
19                         @Pmillzz lebron IS THE BOSS
20   @sketchbug Lebron is a hometown hero to me, lo...
21         lebron and zydrunas are such an awesome duo
22   @wordwhizkid Lebron is a beast... nobody in th...
23   downloading apps for my iphone! So much fun :-...
24   good news, just had a call from the Visa offic...
25   http://twurl.nl/epkr4b - awesome come back fro...
26   In montreal for a long weekend of R&amp;R. Muc...
27   Booz Allen Hamilton has a bad ass homegrown so...
28   [#MLUC09] Customer Innovation Award Winner: Bo...
29   @SoChi2 I current use the Nikon D90 and love i...
..                                                 ...
468  Man I kinda dislike Apple right now. Case in p...
469  @cwong08 I have a Kindle2 (&amp; Sony PRS-500)...
470  The #Kindle2 seems the best eReader, but will ...
471  I have a google addiction. Thank you for point...
472  @ruby_gem My primary debit card is Visa Electron.
473   Off to the bank to get my new visa platinum card
474  dearest @google, you rich bastards! the VISA c...
475  has a date with bobby flay and gut fieri from ...
476  Excited about seeing Bobby Flay and Guy Fieri ...
477  Gonna go see Bobby Flay 2moro at Shoreline. Ea...
478  can't wait for the great american food and mus...
479  My dad was in NY for a day, we ate at MESA gri...
480                      Fighting with LaTex. Again...
481  @Iheartseverus we love you too and don't want ...
482  7 hours. 7 hours of inkscape crashing, normall...
483  How to Track Iran with Social Media: http://bi...
484  Shit's hitting the fan in Iran...craziness ind...
485  Monday already. Iran may implode. Kitchen is a...
486  Twitter Stock buzz: $AAPL $ES_F $SPY $SPX $PAL...
487  getting ready to test out some burger receipes...
488             @johncmayer is Bobby Flay joining you?
489  i lam so in love with Bobby Flay... he is my f...
490  I just created my first LaTeX file from scratc...
491  using Linux and loving it - so much nicer than...
492  After using LaTeX a lot, any other typeset mat...
493  Ask Programming: LaTeX or InDesign?: submitted...
494  On that note, I hate Word. I hate Pages. I hat...
495  Ahhh... back in a *real* text editing environm...
496  Trouble in Iran, I see. Hmm. Iran. Iran so far...
497  Reading the tweets coming out of Iran... The w...

[498 rows x 1 columns]